<div class="container-fluid">
    <div id="form">
        <form class="form-control">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput2">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput3" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="formGroupExampleInput3" name="value" [(ngModel)] = "value">
                
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput4" class="form-label">Your message</label>
                <textarea type="text" class="form-control" id="formGroupExampleInput4"></textarea>
              </div>
              <button class="form-control" (click)="onSave()">Submit</button>
              <p [innerText]="save"></p>
        </form>        
    </div>
   
</div>