<div class="container-fluid">
   
    <div class="row">
       
        <div class="col-5">
            <h3>Meghalaya</h3>
            <p>Located in North-east India, Meghalaya, also known as the Abode of Clouds,
                 falls in one of the richest biodiversity areas in the world. The famed monsoons, 
                 the rich traditional festivals, and the dramatic terrain are just some of the many 
                 things this state is famous for. Whether you are looking for an adventure to give you an
                  adrenaline high or a tranquil spot to recharge yourself, Meghalaya has plenty to offer.</p>
        </div>
        <div class="col-5">
            <img src="/assets/images/Meghalaya.jpg" alt="">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <img src="/assets/images/bali.jpg" alt="">
        </div>
        <div class="col-5">
            <h3>Bali</h3>
            <p>Nestled in the heart of the Indian Ocean, Bali is a 95-mile-wide island which is situated at the westernmost end 
                of the Lesser Sunda Islands with Java to the west and Lombok to the east. This gorgeous island is a complete 
                destination where you get to experience magnificent beaches, terraced rice paddies, traditional 
                rich cultures, beautiful temples, volcanic mountains, various adventure activities, nightlife, shopping, and much more.</p>
        </div>
       
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <h3>Kashmir</h3>
            <p>Nature has endowed Kashmir with implausible beauty and is rightly called "Paradise on Earth “. 
                It’s the dream of every Indian traveler to visit this paradise at least once in a lifetime! 
                The majestic snow-clad mountains, iconic houseboats, enchanting chinar trees to the world-famous Mughal
                 gardens & the list is never-ending! Come explore Kashmir with Tentgram & experience the true essence of 
                 Kashmir!</p>
        </div>
        <div class="col-5">
            <img src="/assets/images/kashmir.jpg" alt="">
        </div>
    </div>
</div>