
<section>
    <div class="container-fluid home-page">
      <div>
        <p>Explore the planet togeather</p>
        <h1>Go on Exciting Adventures</h1>
      </div>
    </div>
    <div class="container-fluid ">
        <div class="explore-togeather">
            <div class="row">
                <div class="col-4">
                    <p>Explore Togeather</p>
                    <h2>Discover the most engaging Places togeather</h2>
                </div>
                <div class="col-8">
                    <div>
                        <i class="fa-regular fa-compass" [class]="iconclass"></i>
                        <h3>Exploration</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, illum?</p>
                    </div>
                    <div>
                        
                        <i class="fa-solid fa-person-hiking" [class.orange]="true"></i>
                        <h3>Adventures</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, illum?</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-suitcase" [class]="iconclass"></i>
                        <h3>Equipment</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, illum?</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="popular-stories">
            <p>Popular Stories</p>
            <h2>Best Experiances</h2>
            <div class="row">
                <div class="col-2">
                    <img src="/assets/images/explore.jpg" alt="">
                    <h4>Explore</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ipsum quaerat error possimus libero nam!</p>
                </div>
                <div class="col-2">
                    <img src="/assets/images/discover.jpg" alt="">
                    <h4>Discover</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ipsum quaerat error possimus libero nam!</p>
                </div>
                <div class="col-2">
                    <img src="/assets/images/research.jpg" alt="">
                    <h4>Research</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ipsum quaerat error possimus libero nam!</p>
                </div>
                <div class="col-2">
                    <img src="/assets/images/hiking.jpg" alt="">
                    <h4>Hiking</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ipsum quaerat error possimus libero nam!</p>
                </div>
                <div class="col-2">
                    <img src="/assets/images/camping.jpg" alt="">
                    <h4>Camping</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ipsum quaerat error possimus libero nam!</p>
                </div>
            </div>

        </div>
    </div>
  </section>