<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facilis ipsa velit facere 
                expedita aliquam quasi veritatis cumque deserunt! Itaque vero nostrum ad quibusdam alias
                 atque iusto et eos blanditiis nesciunt error impedit ex delectus in perspiciatis,
                  qui corporis harum sint voluptate nobis laborum! Distinctio vero voluptas fugit, 
                  blanditiis ipsa nemo, libero nobis aspernatur accusantium dolore odit error ad maiores eos 
                  ducimus corporis hic totam est facilis animi itaque corrupti dicta optio. Dolorem amet earum 
                  rerum consequatur saepe assumenda officiis dicta omnis praesentium non obcaecati excepturi
                   repudiandae quidem quasi, harum odit id eos quia fugit? Voluptates facilis consequatur, ab 
                   quasi culpa laboriosam aut ea et officiis ipsa reprehenderit ipsum eaque harum atque modi 
                   aspernatur magni, ratione sapiente porro explicabo minus.</p>
        </div>
        <div class="col-5">
            <img src="/assets/images/aboutus.jpg" alt="">
        </div>
    </div>
</div>