.container-fluid{
    .row{
        margin-top: 100px;
        padding: 0 50px;
    }
    .col-5{
        img{
            width: 700px;
        }
        p{
            font-size: 20px;
        }
    }
}